.header {
  background-color:#223f8b;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 100;
}

.brand__name {
  text-decoration: none;
  color: white;
  width: 100px;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.sub__header {
  height: 30px;
  margin: 0 50px;
  background-color: #223f8b;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subHeader__text {
  margin: 0 20px;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__optionBasket {
  display: flex;
  align-items: center;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header__link {
  text-decoration: none;
  color: white;
}
.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  background-color: #cd6787;
  padding: 5px;
  height: 22px !important;
}
